@font-face {
    font-family: 'cheriregular';
    src: url('../../assets/cheri-webfont.woff2') format('woff2'),
         url('../../assets/cheri-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'cheri_lineyregular';
    src: url('../../assets/cherl-webfont.woff2') format('woff2'),
         url('../../assets/cherl-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body {
  background-color: #F9C2E9;
}
.home{
  &__banner{
    margin-top: 20px;
    text-align: center;
  }
  &__title{
    img{
      max-width: 100%;
      height: auto;

    }
  }
  &__stars{
      width: 100%;
      height: auto;
      top: 0;
      position: fixed;
      cursor: pointer;

    .left{
      position: relative;
      top: 25px;
      max-width: 100%;
      height: auto;
    }
    .middle{
      position: relative;
      top: 25px;
      max-width: 100%;
      height: auto;
    }
    .right{
      position: relative;
      top: 20px;
      max-width: 100%;
      height: auto;

    }

  }
  &__image{
    text-align: center;
    // border: 1px solid #b6a3b9;



    img{
      margin-top: -110px;
      max-width: 100%;
      height: auto;
      // border: 1px solid #b6a3b9;
      @media (max-width: 522px ){
        margin-top: -60px;

      }
    }
  }
  &__line-break{
    margin-top: 25px;
    border-bottom: 1px solid #b6a3b9;
  }
  &__toolbar{
    font-family: 'cheriregular', sans-serif;
    text-align: center;
    color: #0057A5;
    h2 {
      font-size: 54px;
      cursor: pointer;
    }
  }
}
.hoods{
  text-align: center;
  h2{
    font-family: 'cheriregular', sans-serif;
    a {
      color: #0057A5;
      text-decoration: none;
    }
  }
  &__title{
    font-family: 'cheri_lineyregular', sans-serif;
    color: #0057A5;


  }
  &__images{
    .image{
      max-width: 300px;
      border-radius: 40px;
    }
    .image-title{
      margin-top: 40px
    }
  }
}

.fade.ng-enter {
  transition:0.5s linear all;
  opacity:1;
}
.fade.ng-enter.ng-enter-active {
  opacity:1;
}
