@font-face {
  font-family: 'CHERI';
  src: url(../../assets/CHERI.TFF);
  src: url('../../assets/CHERIwebfont.eot'); /* IE9 Compat Modes */
  src: url('../../assets/CHERIwebfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../assets/CHERIwebfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../assets/CHERIwebfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../../assets/CHERIwebfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../../assets/CHERIwebfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body {
  background-color: #F9C2E9;
}
.home{
  &__banner{
    margin-top: 20px;
    text-align: center;
  }
  &__title{
    img{
      max-width: 100%;
      height: auto;
    }
  }
  &__stars{
      width: 100%;
      height: auto;
      top: 0;
      position: fixed;
    .left{
      // margin-top: -335px;
      position: relative;
      top: 25px;
      max-width: 100%;
      height: auto;
      // display: none;
    }
    .middle{
      // margin-top: -375px;
      position: relative;
      top: 25px;
      max-width: 100%;
      height: auto;
    }
    .right{
      // margin-top: -425px;
      position: relative;
      top: 20px;
      max-width: 100%;
      height: auto;
    }

  }
  &__image{
    text-align: center;
    margin-bottom: 20px;
    // @media (max-width: 767px) {
    //   margin-bottom: 8px
    // }
    // border: 1px solid #b6a3b9;


    img{
      margin-top: -115px;
      max-width: 100%;
      height: auto;
    }
  }
  &__line-break{
    border-bottom: 1px solid #b6a3b9;
  }
  &__toolbar{
    font-family: 'CHERI', sans-serif;
    text-align: center;
    color: #0057A5;
    h2 {
      font-size: 54px;
      cursor: pointer;
    }
  }
}
