<div class="home container-fluid ">
  <div class="home__banner row">
    <div class="home__title ">
      <img src="../assets/jeffysclosetbannerwithbigstars.png" alt="">
    </div>
    <div class="home__stars">
      <img class="left" id="leftStar" src="../assets/leftstar.png" alt="">
    </div>
    <div class="home__stars">
      <img class="middle" id="middleStar"src="../assets/middlestar.png" alt="">
    </div>
    <div class="home__stars">
      <img class="right" id="rightStar"src="../assets/rightstar.png" alt="">
    </div>
    <div class="home__image col-md-12">
      <img src="../assets/{{hc.homeImage}}" alt="">
    </div>
  </div>

  <div class="container">
    <div class="home__line-break"></div>
    <div class="home__toolbar row justify-content-md-center">
      <div ng-repeat="data in hc.toolbarData"  class="col-sm-4">
        <h2 ng-click="hc.toolbarClick()" ng-mouseover="hc.mouseover($index)" ng-mouseleave="hc.mouseleave()">{{data.title}}</h2>
      </div>
    </div>
  </div>

</div>
