<div class="home container-fluid ">
  <div class="home__banner row">
    <div class="home__title ">
      <img src="../assets/jeffysclosetbannerwithbigstars.png" alt="">
    </div>
    <div class="home__stars">
      <img class="left" id="leftStar" src="../assets/leftstar.png" alt="">
    </div>
    <div class="home__stars">
      <img class="middle" id="middleStar"src="../assets/middlestar.png" alt="">
    </div>
    <div class="home__stars">
      <img class="right" id="rightStar"src="../assets/rightstar.png" alt="">
    </div>
    <div class="home__image col-md-12">
      <img src="../assets/coatonly.png" alt="">
    </div>
  </div>

  <div class="container">
    <div class="home__line-break"></div>

    <div class="home__toolbar row justify-content-md-center">
      <!-- <div class="col-md-2"></div> -->
      <div class="col-sm-4">
        <h2>Hoods</h2>
        <!-- <img src="../assets/hoodieNoBackgroundCrop.png" alt=""> -->
      </div>
      <div class="col-sm-4">
        <h2>Thrift</h2>
      </div>
      <div class="col-sm-4">
        <h2>Pants</h2>
      </div>
    </div>
  </div>

</div>
