@font-face {
  font-family: 'cheriregular';
  src: url("../../assets/cheri-webfont.woff2") format("woff2"), url("../../assets/cheri-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'cheri_lineyregular';
  src: url("../../assets/cherl-webfont.woff2") format("woff2"), url("../../assets/cherl-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  background-color: #F9C2E9; }

.home__banner {
  margin-top: 20px;
  text-align: center; }

.home__title img {
  max-width: 100%;
  height: auto; }

.home__stars {
  width: 100%;
  height: auto;
  top: 0;
  position: fixed; }
  .home__stars .left {
    position: relative;
    top: 25px;
    max-width: 100%;
    height: auto; }
  .home__stars .middle {
    position: relative;
    top: 25px;
    max-width: 100%;
    height: auto; }
  .home__stars .right {
    position: relative;
    top: 20px;
    max-width: 100%;
    height: auto; }

.home__image {
  text-align: center; }
  .home__image img {
    margin-top: -110px;
    max-width: 100%;
    height: auto; }
    @media (max-width: 522px) {
      .home__image img {
        margin-top: -60px; } }

.home__line-break {
  margin-top: 25px;
  border-bottom: 1px solid #b6a3b9; }

.home__toolbar {
  font-family: 'cheriregular', sans-serif;
  text-align: center;
  color: #0057A5; }
  .home__toolbar h2 {
    font-size: 54px;
    cursor: pointer; }

.hoods {
  text-align: center; }
  .hoods h2 {
    font-family: 'cheriregular', sans-serif; }
    .hoods h2 a {
      color: #0057A5;
      text-decoration: none; }
  .hoods__title {
    font-family: 'cheri_lineyregular', sans-serif;
    color: #0057A5; }
  .hoods__images .image {
    max-width: 300px;
    border-radius: 40px; }
  .hoods__images .image-title {
    margin-top: 40px; }
